C 1000 0 "1" 1000 0 0 0 60 0 R
X "PIN_TEXT" "1" 770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 800 0 1000 0 -1 0
C 1000 -100 "2" 1000 -100 0 0 60 0 R
X "PIN_TEXT" "2" 770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -100 1000 -100 -1 0
C 1000 -200 "3" 1000 -200 0 0 60 0 R
X "PIN_TEXT" "3" 770 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -200 1000 -200 -1 0
C 1000 -300 "4" 1000 -300 0 0 60 0 R
X "PIN_TEXT" "4" 770 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -300 1000 -300 -1 0
C 1000 -400 "5" 1000 -400 0 0 60 0 R
X "PIN_TEXT" "5" 770 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -400 1000 -400 -1 0
C 1000 -500 "6" 1000 -500 0 0 60 0 R
X "PIN_TEXT" "6" 770 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -500 1000 -500 -1 0
C 1000 -600 "7" 1000 -600 0 0 60 0 R
X "PIN_TEXT" "7" 770 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -600 1000 -600 -1 0
C 1000 -700 "8" 1000 -700 0 0 60 0 R
X "PIN_TEXT" "8" 770 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -700 1000 -700 -1 0
C 1000 -800 "9" 1000 -800 0 0 60 0 R
X "PIN_TEXT" "9" 770 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -800 1000 -800 -1 0
C 1000 -900 "10" 1000 -900 0 0 60 0 R
X "PIN_TEXT" "10" 770 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -900 1000 -900 -1 0
C 1000 -1000 "11" 1000 -1000 0 0 60 0 R
X "PIN_TEXT" "11" 770 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -1000 1000 -1000 -1 0
C 1000 -1100 "12" 1000 -1100 0 0 60 0 R
X "PIN_TEXT" "12" 770 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -1100 1000 -1100 -1 0
C 1000 -1200 "13" 1000 -1200 0 0 60 0 R
X "PIN_TEXT" "13" 770 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -1200 1000 -1200 -1 0
C 1000 -1300 "14" 1000 -1300 0 0 60 0 R
X "PIN_TEXT" "14" 770 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -1300 1000 -1300 -1 0
C 1000 -1400 "15" 1000 -1400 0 0 60 0 R
X "PIN_TEXT" "15" 770 -1430 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -1400 1000 -1400 -1 0
C 0 0 "MP1" 0 0 0 0 60 0 L
X "PIN_TEXT" "MP1" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "MP2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "MP2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
L 200 100 800 100 -1 0
L 800 -1500 800 100 -1 0
L 800 -1500 200 -1500 -1 0
L 200 100 200 -1500 -1 0
P "$LOCATION" "?" 850 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

